.cabecera{
    background-color: #590d22;
    border:  3px black solid;
    width:fit-content;
    height: auto;
    margin: auto;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
   
}
.menu{
    display: inline;
    margin: 15px;
}

.cabeceraHijo a{
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    background-color: #590d22;
}
.navColor{
    background-color: #590d22;
}
.contenedorTitulo
{
    display: flex;
}
.titulo{
    position: absolute;
    top: 0px;
    left: 105px;
}
.posicionMenu{
    position: fixed;
    top: 2px;
    right: 20px;
  }

@font-face{
    font-family: Avigea;
    src: url("../Letra/Avigea.ttf");
}

h1{
    font-family: Avigea;
    text-align:start;
    padding: 20px;
}
h2{
    font-family: Avigea;
}

h3{
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.conCarousel{
    padding: 6px;
}

.banerContenedor{
     background-color: #ffccd5; 
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.colorFondoContatenos{
    background-color: #fff0f3; 
}

.hijoContenedor img{
    height: 150px;
    width: 180px;
    border: 1px black dotted;
    margin: 5px 15px 5px 20px;
}

.hijoContenedor p{
    height: auto;
    width: 180px;
    /* border: 1px black dotted; */
    margin: 5px 15px 5px 20px;
    font-family: cursive;
}

.hijoContenedor h2{
    height: auto;
    width: 180px;
    /* border: 1px black dotted; */
    margin: 5px 15px 5px 30px;
    justify-content: center;
}

.contenedorImaTexto{
    background-color: #fff0f3;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contenedorImaTextoBlanco{
    background-color: white;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contenedorImaTextoCli{
    background-color: #fff0f3;
    width: auto;
    height: auto;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
}


.imgTexto{
    margin: 5px 5px 5px 2px;
}
.imgTexto img{
    height: 350px;
    width: 550px;
    margin: 55px 15px 5px 20px;
}

.imgTexto2{
    margin: 5px 5px 5px 2px;
    display: flex;
}


.beneficiosContenedor{
    background-color: #ffccd5;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



.foot{
    background-color: #c9184a;
}
.foot h3{
    text-align: center;
    color: #ffccd5;
}
.foot p{
    text-align: center;
    color:white;
    font:bold;
}
.footRedesSociales
{
    border:  3px solid #c9184a;
}

 .imgContactenos img{
    height: 35px;
    width: 55px;
    border: 2px black solid;
    margin: 55px 15px 5px 20px;
} 

.contenedorCentrar{
    display: flex;
    align-items: center; 
}

.contenedorCentrar2{
    display: flex;
    align-items:flex-end; 
}

.servicios p{
    height: auto;
    width: 400px;
}


.productosTexto
{
    height: auto;
    width: 500px;  
    
}
.imgRedonda {
    width:250px;
    height:250px;
    border-radius:150px;
}
.flotanteWhastApp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
}

.my-flotante{
	margin-top:16px;
}

.imgCorusel{
    width: 500px;
    height: 250px;
  }

  /* Animación */

  @keyframes texto{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.animacionLetra{
    animation-name: texto;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.imagenAni1:hover {
    filter: grayscale(80%);
}

.imagenAni2:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;}

    .imagenAni3:hover{
        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #ec731e;
        -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        }

/* Vista Tablet y celular */
@media(min-width: 300px) and (max-width: 900px){
    .vistaTexto{
        display: none;
    }
    
}

@media(min-width: 300px) and (max-width: 600px){
    .vistaVideo{
        width : 400px; 
        height : 115px;
    }
    
}

@media(min-width: 930px) and (max-width: 1000px){
    .vistaVideo{
        width : 450px; 
        height : 215px;
    }
    
}

@media(min-width: 1001px) and (max-width: 1329px){
    .vistaVideo{
        width : 450px; 
        height : 215px;
    }
    
}


@media(min-width: 1330px) and (max-width: 2500px){
    .vistaVideo{
        width :660px; 
        height : 415px;
    }
    
}